extends base
block head
  link(rel='stylesheet', href='/css/about.css', type='text/css')
block content
  <section class="about">
    include nav
    <div class="about-content">
      <h1>About Me</h1>
      <div class="about-content-1">
        <span class="txt">I like puzzles and building cool things</span><br>
        <span class="txt">but I never thought about becoming a Web Developer </span><br>
        <span class="txt">until I built my first game-Brick Breaker</span><br>
      </div>
      <div class="about-content-2">
        <span class="txt">I was instantly hooked and start learning </span><br>
        <span class="txt">from front-end language: HTML, CSS and Javascript</span><br>
        <span class="txt">to back-end language:Nodejs, SQL and MongDB</span><br>
      </div>
      <div class="about-content-3">
        <span class="txt">I keep learning new knowledge and practicing new skills</span><br>
        <span class="txt">to become a Full-Stack Developer </span><br>
        <span class="txt">such as Python, Java and C#</span><br>
      </div>
    </div>
    <canvas class="canvas-3d color-0"></canvas>
    <canvas class="canvas"></canvas>
  </section>
  script(type="module" src="/js/3d.js")
  script(src="/js/bundle.js")
