extends base
block head
  link(rel='stylesheet', href='/css/about.css', type='text/css')
block content
  <section class="about">
    include nav
    <div class="about-content">
      <h1>About Me</h1>
      <div class="about-content-1">
        <span class="txt">My journey through companies like ViewFin and Telus has polished my proficiency in cutting-edge technologies. My expertise spans from React.js and Next.js to embracing blockchain integrations, including MetaMask for cryptocurrency transactions, underscoring my adaptability and forward-thinking in tech development.</span><br>
      </div>
      //- <div class="about-content-2">
      //-   <span class="txt">However, when I got to know about Javascript and built cool things and games, I was instantly hooked. So, I decide to shift my career to developer and start learning coding from Udemy.</span><br>
      //- </div>
      //- <div class="about-content-3">
      //-   <span class="txt">I like showing people what I can do rather than just tell them. This website contains not only frontend languages:HTML CSS and Javascript, but also backend language:Nodejs and MongoDB.</span><br>
      //- </div>
    </div>
    <canvas class="canvas-3d color-0"></canvas>
    <canvas class="canvas"></canvas>
  </section>
  script(type="module" src="/js/3d.js")
  script(src="/js/bundle.js")
