<nav>
  input(type="checkbox" class="checkbox")
  .hamburger-container
    .hamburger-item-1
    .hamburger-item-2
    .hamburger-item-3
  .nav-container
    .nav-item.nav-item-1
      <a class="nav-home" href="/">
        img(src="/img/home.png", alt="HOME")
        <span>HOME<span>
      </a>
    .nav-item.nav-item-2
      <a class="nav-about" href="/about">
        img(src="/img/user.png", alt="ABOUT")
        <span>ABOUT<span>
      </a>
    .nav-item.nav-item-3
      <a class="nav-work" href="/work">
        img(src="/img/briefcase.png", alt="WORK")
        <span>WORK<span>
      </a>
    .nav-item.nav-item-4
      <a class="nav-contact" href="/contact">
        img(src="/img/envelope.png", alt="CONTACT")
        <span>CONTACT<span>
      </a>
</nav>
