extends base
block head
  link(rel='stylesheet', href='/css/work.css', type='text/css')
block content
    <section class="work">
      include nav
      <div>
        <h1>under construction</h1>
      </div>
      //- <div class="container">
      //-   <a href="https://richardpiao.github.io/rdpestate/"  target="_blank" class="container-item estate">   
      //-     <div class="skill estate-skill">
      //-       <span class="skill-flex">Flex</span>
      //-       <span class="skill-grid">Grid</span>
      //-     </div>
      //-     <video autoplay loop>
      //-       <source src="/img/estate.mp4" type="video/mp4"> Your browser does not support video, Please update your browser.
      //-     </video>
      //-   </a>
      //-   <a href="https://richardpiao.github.io/corpora/"  target="_blank" class="container-item corpora">
      //-     <div class="skill corpora-skill">
      //-       <span class="skill-js">Javascript</span>
      //-       <span class="skill-jquery">jQuery</span>
      //-     </div>
      //-     <video autoplay loop>
      //-       <source src="/img/corpora.mp4" type="video/mp4"> Your browser does not support video, Please update your browser.
      //-     </video>
      //-   </a>
      //- </div>
      <canvas class="canvas-3d color-0"></canvas>
      <canvas class="canvas"></canvas>
    </section>
    script(src="/js/bundle.js")
