*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  position: relative;
  font-family: "Varela", sans-serif;
  background-color: #100c08;
}

.canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

nav {
  top: 0;
  left: 0;
  position: relative;
  width: 50px;
  height: 100vh;
}

.nav-container {
  top: 0;
  left: 0;
  position: fixed;
  width: 50px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-item {
  position: relative;
  width: 100%;
  min-height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 2px solid rgba(255, 255, 255, 0.4);
}

.nav-item:hover {
  border-right: 2px solid rgba(255, 255, 255, 1);
}

.nav-item>a {
  font-size: 15px;
  text-decoration: none;
  color: #ffffff;
  text-transform: uppercase;
}

a>span {
  display: none;
}

img {
  width: 20px;
  height: 20px;
}

.checkbox {
  display: none;
}

@media only screen and (max-width: 850px) {

  /*//////////nav////////// */
  nav {
    top: 0;
    left: 0;
    position: relative;
    width: 50px;
    height: 100vh;
  }

  .nav-container {
    position: absolute;
    top: -100%;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5000;
    background: #000000;
  }

  .nav-item {
    width: 25%;
    height: 10%;
    display: flex;
    justify-content: start;
    align-items: center;
    border: none;
  }

  .nav-item:hover {
    border: none;
    transform: translateY(-1px) scale(1.1);
  }

  .nav-item>a {
    font-size: 3.5vw;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
  }

  a>span {
    display: inline;
    margin-left: 20px;
  }

  img {
    width: 3.5vw;
    height: 3.5vw;
  }

  .hamburger-container {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10000;
  }

  .hamburger-item-1 {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transition: all 0.2s;
    opacity: 1;
  }

  .hamburger-item-2 {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: translateY(-10px);
    transition: all 0.2s;
  }

  .hamburger-item-3 {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: translateY(10px);
    transition: all 0.2s;
  }

  .checkbox {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 40px;
    height: 40px;
    z-index: 20000;
    opacity: 0;
  }

  .checkbox[type="checkbox"]:checked~.hamburger-container>.hamburger-item-1 {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transition: all 0.2s;
    opacity: 0;
  }

  .checkbox[type="checkbox"]:checked~.hamburger-container>.hamburger-item-2 {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: rotate(45deg);
    transition: all 0.2s;
  }

  .checkbox[type="checkbox"]:checked~.hamburger-container>.hamburger-item-3 {
    position: absolute;
    width: 100%;
    height: 2px;
    background: #ffffff;
    transform: rotate(-45deg);
    transition: all 0.2s;
  }

  .checkbox[type="checkbox"]:checked~.nav-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5000;
    background: #000000;
    transition: top 0.3s;
  }

  .checkbox:hover~.hamburger-container>.hamburger-item-2 {
    transform: translateY(-12px);
    transition: all 0.2s;
  }

  .checkbox:hover~.hamburger-container>.hamburger-item-3 {
    transform: translateY(12px);
    transition: all 0.2s;
  }
}